---
import Layout from "@layouts/Layout.astro";
import generateHaiku from "@utils/haikuGenerator";

const [firstLine, secondLine, thirdLine] = generateHaiku();

const directions = ["t", "r", "b", "l", "tr", "br", "bl", "tl"];
const randomDirection = directions[Math.floor(Math.random() * directions.length)];

const colors = [
  "slate-600",
  "zinc-800",
  "stone-500",
  "red-500",
  "orange-500",
  "amber-300",
  "lime-400",
  "green-500",
  "emerald-600",
  "teal-700",
  "cyan-400",
  "sky-300",
  "indigo-700",
  "violet-700",
  "fuchsia-300",
  "pink-500",
  "rose-400",
];

const getRandomColorAndRemove = (colorsArray: any[string]) => {
  const index = Math.floor(Math.random() * colorsArray.length);
  return colorsArray.splice(index, 1)[0];
};

const firstColor = getRandomColorAndRemove(colors);
const secondColor = getRandomColorAndRemove(colors);
---

<Layout title="">
  <main
    class={`bg-gradient-to-${randomDirection} from-${firstColor} to-${secondColor} bg-cover bg-no-repeat bg-center w-full h-full flex flex-col justify-around`}>
    <div
      id="refresh-drag"
      class="fixed -top-16 h-20 flex justify-center items-center transition-all w-full text-slate-200 drop-shadow-[2px_2px_2px_rgba(0,0,0,0.8)]">
      <span>Regenerating Haiku...</span>
    </div>

    <div class="flex flex-col justify-center items-center transition-all visible:top-0">
      <p
        id="firstLine"
        class="transition-opacity duration-1000 opacity-1 text-4xl md:text-6xl lg:text-8xl py-2 md:py-4 lg:py-6 text-slate-200 drop-shadow-[2px_2px_2px_rgba(0,0,0,0.8)]">
        {firstLine}
      </p>
      <p
        id="secondLine"
        class="transition-opacity duration-1000 opacity-1 text-4xl md:text-6xl lg:text-8xl py-2 md:py-4 lg:py-6 text-slate-200 drop-shadow-[2px_2px_2px_rgba(0,0,0,0.8)]">
        {secondLine}
      </p>
      <p
        id="thirdLine"
        class="transition-opacity duration-1000 opacity-1 text-4xl md:text-6xl lg:text-8xl py-2 md:py-4 lg:py-6 text-slate-200 drop-shadow-[2px_2px_2px_rgba(0,0,0,0.8)]">
        {thirdLine}
      </p>
    </div>
  </main>
</Layout>

<script>
  const pullToRefresh = document.getElementById("refresh-drag");
  let touchstartY = 0;
  document.addEventListener("touchstart", (e) => {
    touchstartY = e.touches[0].clientY;
  });
  document.addEventListener("touchmove", (e) => {
    const touchY = e.touches[0].clientY;
    const touchDiff = touchY - touchstartY;
    if (touchDiff > 0 && window.scrollY === 0) {
      pullToRefresh.classList.add("top-0");
      pullToRefresh.classList.remove("-top-16");
      e.preventDefault();
    }
  });
  document.addEventListener("touchend", (e) => {
    if (pullToRefresh.classList.contains("top-0")) {
      location.reload();
    }
  });

  const toggleOpacity = (element: HTMLElement, milliseconds: number) => {
    setTimeout(() => {
      element.classList.add("opacity-100");
      element.classList.remove("opacity-1");
    }, milliseconds);
  };

  const firstLine = document.getElementById("firstLine");
  const secondLine = document.getElementById("secondLine");
  const thirdLine = document.getElementById("thirdLine");

  toggleOpacity(firstLine, 1000);
  toggleOpacity(secondLine, 2000);
  toggleOpacity(thirdLine, 3000);
</script>
